{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Test Stack for Ecs Task",

  "Resources": {
    "Task": {
      "Type": "Custom::EcsTask",
      "Properties": {
        "ServiceToken": { "Fn::Join": [ "", [
          "arn:aws:lambda:",
          { "Ref": "AWS::Region" },
          ":",
          { "Ref": "AWS::AccountId" },
          ":function:ecsTask"
        ] ] },
        "ContainerDefinitions": [
          {
            "envFiles": [
              "Dingo=elefant\nKatt=hund\n",
              "Tapir=aardvark\nKatt=cat"
            ],
            "environment": [
              {
                "name": "STATSD_HOST",
                "value": "dockerhost"
              }
            ],
            "essential": true,
            "extraHosts": [{
              "hostname": "dockerhost",
              "ipAddress": "172.14.42.1"
            }],
            "family": "ecs",
            "image": "andersjanmyr/counter",
            "logConfiguration": {
              "logDriver": "json-file",
              "options": {
                "max-size": "128m",
                "max-file": "8"
              }
            },
            "memory": 512,
            "name": "unstable-andersjanmyr-counter",
            "portMappings": [
              {
                "containerPort": 80,
                "hostPort": 4444
              }
            ]
          }
        ]
      }
    }
  },

  "Outputs": {
    "TaskHostPort": {
      "Value": {
        "Fn::GetAtt": [ "Task", "HostPort" ]
      }
    },
    "TaskDefinitionArn": {
      "Value": {
        "Fn::GetAtt": [ "Task", "TaskDefinitionArn" ]
      }
    }
  }
}

