{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Test Stack for EchoDependency",

  "Resources": {
    "KMS": {
      "Type": "Custom::KmsDependency",
      "Properties": {
        "ServiceToken": { "Fn::Join": [ "", [
          "arn:aws:lambda:",
          { "Ref": "AWS::Region" },
          ":",
          { "Ref": "AWS::AccountId" },
          ":function:kmsDependency"
        ] ] },
        "EncryptedValue" : "kms:CiAvBJLhqHoZDGWIW/QrYZpRxaBKOrBTUjQbblv8hT0+6xKKAQEBAgB4LwSS4ah6GQxliFv0K2GaUcWgSjqwU1I0G25b/IU9PusAAABhMF8GCSqGSIb3DQEHBqBSMFACAQAwSwYJKoZIhvcNAQcBMB4GCWCGSAFlAwQBLjARBAx3R0ZNaK4TiBo0q/wCARCAHoVQnE+Q8E+OKyRhNZB0dvGYElulGCXNaRBCfDkqZQ=="
      }
    }
  },

  "Outputs": {
    "DecryptedValue": {
      "Value": {
        "Fn::GetAtt": [ "KMS", "DecryptedValue" ]
      },
      "Description": "KMS Decrypted value that should NEVER be printed!"
    }
  }
}
